<div *ngIf="outputType === 'y-n'" class="d-flex text-center" [title]="description">
  <p class="card-text col-6">{{title}}</p>
  <p class="card-text col-6">{{isYes? '예' : '아니오'}}</p>
</div>

<div *ngIf="outputType === 'currency-with-rate'" class="d-flex text-center" [title]="description">
  <p class="card-text col-4">{{title}}</p>
  <p class="card-text col-4">세율: {{rate | percent:'1.0-2'}}</p>
  <p class="card-text col-4">{{output | currency:'KRW'}}</p>
</div>

<div *ngIf="outputType === 'currency'" class="d-flex text-center" [title]="description">
  <p class="card-text col-4">{{title}}</p>
  <p class="card-text col-8">{{output | currency:'KRW'}}</p>
</div>