<div class="container p-3">
  <h2 class="mt-5 mb-3">주택임대소득세</h2>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="mb-3">
      <select class="form-select" formControlName="multiHome"
        title="*보유주택 산정 시 시가 1억 이하의 주택은 제외. 단, 입주권, 분양권의 시가와 무관하게 포함(지방령28조4항)">
        <option [ngValue]="0">보유주택 수</option>
        <option [ngValue]="1">1 주택</option>
        <option [ngValue]="2">2 주택</option>
        <option [ngValue]="3">3 주택 이상</option>
      </select>
    </div>
    <div class="d-flex form-control my-3 align-items-center" title="주택임대 수입 2천만원 이하인자는 분리과세 선택가능">
      <label class="col-4">구분선택</label>
      <div class="form-check col-4">
        <input (change)="onStandardChange()" formControlName="isIntegratedOrSeparate" type="radio" class="btn-check"
          id="integrated" [value]="'integrated'" name="isIntegratedOrSeparate">
        <label class="btn w-100 btn-outline-success" for="integrated">
          종합과세
        </label>
      </div>
      <div class="form-check col-4">
        <input (change)="onStandardChange()" formControlName="isIntegratedOrSeparate" type="radio" class="btn-check"
          id="separated" [value]="'separated'" name="isIntegratedOrSeparate">
        <label class="btn w-100 btn-outline-danger" for="separated">
          분리과세
        </label>
      </div>
    </div>
    <div *ngIf="isRegistered" class="d-flex form-control my-3 align-items-center">
      <label class="col-4">임대주택 등록여부</label>
      <div class="form-check col-4">
        <input formControlName="registered" type="radio" class="btn-check" id="registered-yes" [value]="true"
          name="registered">
        <label class="btn w-100 btn-outline-success" for="registered-yes">
          예
        </label>
      </div>
      <div class="form-check col-4">
        <input formControlName="registered" type="radio" class="btn-check" id="registered-no" [value]="false"
          name="registered">
        <label class="btn w-100 btn-outline-danger" for="registered-no">
          아니오
        </label>
      </div>
    </div>
    <div class="d-flex">
      <app-input class="col-4" formControlName="rent" [type]="'number'" [id]="'rent'" [label]="'월세'"></app-input>
      <app-input class="col-4" formControlName="deposit" [type]="'number'" [id]="'deposit'"
        [label]="'보증금 (간주임대료)'"></app-input>
      <app-input class="col-4" formControlName="otherRevenue" [type]="'number'" [id]="'other-revenue'"
        [label]="'기타수입'"></app-input>
    </div>
    <app-input formControlName="revenueDeduction" [type]="'number'" [id]="'revenue-deduction'"
      [label]="'소득공제'"></app-input>

    <div class="d-flex">
      <app-input class="col-4" formControlName="expenses" [type]="'number'" [id]="'expenses'"
        [label]="'필요경비'"></app-input>
      <app-input class="col-4" formControlName="lastRevenue" [type]="'number'" [id]="'last-revenue'"
        [label]="'직전연도 수입'"></app-input>
      <div class="form-floating col-4 mb-3">
        <select class="form-select" formControlName="expensesRateChart"
          title="*보유주택 산정 시 시가 1억 이하의 주택은 제외. 단, 입주권, 분양권의 시가와 무관하게 포함(지방령28조4항)">
          <option [ngValue]="0">경비율</option>
          <option [ngValue]="1">고가주택임대(9억초과)</option>
          <option [ngValue]="2">일반주택임대(9억이하)</option>
          <option [ngValue]="3">국민주택 5호 5년이상(공동, 단독)</option>
          <option [ngValue]="4">국민주택 5호 5년이상(다가구)</option>
          <option [ngValue]="5">주택의 전대, 전전대</option>
        </select>
      </div>
    </div>
    <button class="btn w-100 btn-secondary my-2">계산하기</button>
  </form>

  <!-- result -->
  <div class="card text-left bg-primary text-white">
    <div class="card-body">
      <h5 class="card-title">입찰가</h5>
      <hr>
      <div class="d-flex text-center">
        <p class="card-text col-4">수입</p>
        <p class="card-text col-8">{{revenue | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">필요경비</p>
        <p class="card-text col-8">{{expenses | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">소득세</p>
        <p class="card-text col-8">{{revenueTax | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">지방소득세</p>
        <p class="card-text col-8">{{regionalTax | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">세금총액</p>
        <p class="card-text col-8">{{revenueTax + regionalTax | currency:'KRW'}}</p>
      </div>
    </div>
  </div>
</div>