<div class="container p-3">
  <h2 class="mt-5 mb-3">양도세</h2>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="mb-3">
      <select class="form-select" formControlName="multiHome"
        title="*보유주택 산정 시 시가 1억 이하의 주택은 제외. 단, 입주권, 분양권의 시가와 무관하게 포함(지방령28조4항)">
        <option [ngValue]="1">1 주택</option>
        <option [ngValue]="2">2 주택</option>
        <option [ngValue]="3">3 주택 이상</option>
      </select>
    </div>
    <div class="d-flex form-control my-3 align-items-center">
      <label class="col-4">조정지역여부</label>
      <div class="form-check col-4">
        <input formControlName="isRegulatedArea" type="radio" class="btn-check" id="selling-regulated-yes"
          [value]="true" name="isRegulatedArea">
        <label class="btn w-100 btn-outline-success" for="selling-regulated-yes">
          예
        </label>
      </div>
      <div class="form-check col-4">
        <input formControlName="isRegulatedArea" type="radio" class="btn-check" id="selling-regulated-no"
          [value]="false" name="isRegulatedArea">
        <label class="btn w-100 btn-outline-danger" for="selling-regulated-no">
          아니오
        </label>
      </div>
    </div>
    <div class="d-flex">
      <app-input class="col-4" formControlName="holdingPeriod" [type]="'number'" [id]="'holding-period'"
        [label]="'보유기간'"></app-input>

      <app-input class="col-4" formControlName="livingPeriod" [type]="'number'" [id]="'living-period'"
        [label]="'거주기간'"></app-input>

      <app-input class="col-4" formControlName="standardPrice" [type]="'number'" [id]="'standard-price'"
        [label]="'공시지가'"></app-input>
    </div>
    <div class="d-flex">
      <app-input class="col-4" formControlName="buyingPrice" [type]="'number'" [id]="'buying-price'"
        [label]="'취득가액'"></app-input>

      <app-input class="col-4" formControlName="expenses" [type]="'number'" [id]="'expenses'"
        [label]="'필요경비'"></app-input>

      <app-input class="col-4" formControlName="sellingPrice" [type]="'number'" [id]="'selling-price'"
        [label]="'양도가액'"></app-input>
    </div>
    <button class="btn w-100 btn-secondary my-2">계산하기</button>
  </form>

  <!-- output -->
  <div class="card text-left bg-primary text-white">
    <div class="card-body">
      <h5 class="card-title">입찰가</h5>
      <hr>
      <app-output [title]="'필요경비'" [output]="expenses"></app-output>
    </div>
  </div>
</div>