<div class="container p-3">
  <h2 class="mt-5 mb-3">재산세(보유세)</h2>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="d-flex form-control my-3 align-items-center">
      <label class="col-4">단일 주택자</label>
      <div class="form-check col-4">
        <input formControlName="soleHouse" type="radio" class="btn-check" id="sole-yes" [value]="true" name="soleHouse">
        <label class="btn w-100 btn-outline-success" for="sole-yes">
          예
        </label>
      </div>
      <div class="form-check col-4">
        <input formControlName="soleHouse" checked type="radio" class="btn-check" id="sole-no" [value]="false" name="soleHouse">
        <label class="btn w-100 btn-outline-danger" for="sole-no">
          아니오
        </label>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" id="price" type="string" placeholder="price" formControlName="price"
        title="취득 당시가액으로 산정하나 해당금액이 시가표준액보더 적은경우 시가표준액 적용">
      <label for="price">시가표준액 (공시지가)</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" id="price" type="string" placeholder="price" formControlName="price">
      <label for="lastTax">직전연도 재산세</label>
    </div>
    <button class="btn w-100 btn-secondary my-2">계산하기</button>
  </form>

  <!-- result -->
  <div class="card text-left bg-primary text-white">
    <div class="card-body">
      <h5 class="card-title">입찰가</h5>
      <hr>
      <div class="d-flex text-center">
        <p class="card-text col-4">과세표준</p>
        <p class="card-text col-8">{{standard | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">세액</p>
        <p class="card-text col-8">{{standardTax | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">지방세</p>
        <p class="card-text col-8">{{municipalEduTax | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">초과상한</p>
        <p class="card-text col-8">{{standardTax | currency:'KRW'}}</p>
      </div>
    </div>
  </div>
</div>