<div class="container p-3">
  <h2 class="mt-5 mb-3">재산세(보유세)</h2>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="d-flex form-control my-3 align-items-center">
      <label class="col-4">단일 주택자</label>
      <div class="form-check col-4">
        <input formControlName="soleHouse" type="radio" class="btn-check" id="sole-yes" [value]="true" name="soleHouse">
        <label class="btn w-100 btn-outline-success" for="sole-yes">
          예
        </label>
      </div>
      <div class="form-check col-4">
        <input formControlName="soleHouse" checked type="radio" class="btn-check" id="sole-no" [value]="false"
          name="soleHouse">
        <label class="btn w-100 btn-outline-danger" for="sole-no">
          아니오
        </label>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" id="price" type="string" placeholder="price" formControlName="price"
        title="취득 당시가액으로 산정하나 해당금액이 시가표준액보다 적은경우 시가표준액 적용">
      <label for="price">시가표준액 (공시지가)</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" id="last-tax" type="string" placeholder="last-tax" formControlName="lastTax">
      <label for="lastTax">직전연도 재산세</label>
    </div>
    <div class="d-flex gap-1">
      <button class="btn col-6 btn-secondary my-2">계산하기</button>
      <button type="button" (click)="onVacationHouseClick()" title="4% 단일세율"
        class="btn col-6 btn-secondary my-2 bg-body-secondary text-dark">별장으로 계산하기</button>
    </div>
  </form>

  <!-- result -->
  <div class="card text-left bg-primary text-white">
    <div class="card-body">
      <h5 class="card-title">입찰가</h5>
      <hr>
      <div class="d-flex text-center" title="공시지가 9억이하 1주택보유자에 적용되는 할인세율(2023년 까지 한시적 운영)">
        <p class="card-text col-4">특례세율</p>
        <p class="card-text col-8">{{discountRate ? '예' : '아니오'}}</p>
      </div>
      <div class="d-flex text-center" title="공시지가의 60%">
        <p class="card-text col-4">과세표준</p>
        <p class="card-text col-8">{{standard | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center" title="시가변동에 의한 과중한 세부담을 방지하기 위한 세액상한선">
        <p class="card-text col-4">보유세 초과상한</p>
        <p class="card-text col-8">{{maxLimit | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">보유세({{standardTaxRate | percent:'1.0-4'}})</p>
        <p class="card-text col-8">{{standardTax | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">지방세</p>
        <p class="card-text col-8">{{municipalEduTax | currency:'KRW'}}</p>
      </div>
      <div class="d-flex text-center">
        <p class="card-text col-4">세금총액</p>
        <p class="card-text col-8">{{standardTax + municipalEduTax | currency:'KRW'}}</p>
      </div>
    </div>
  </div>
</div>